<html>
<body>
<div style="width: 50%; float: left">
    <form method="post" action="service1">
        <input type="text" name="temperature" placeholder="Введите температуру">
        <input type="text" name="windSpeed" placeholder="Введите скорость ветра">
        <button type="submit">Добавить</button>
    </form>
</div>
<div style="width: 50%; float: left">
    <form method="post" action="service2">
        <input type="text" name="temperature" placeholder="Введите температуру">
        <input type="text" name="pressure" placeholder="Введите давление">
        <button type="submit">Добавить</button>
    </form>
</div>
<div style="width: 50%; float: left">
    <form method="post" action="service3">
        <input type="text" name="humidity" placeholder="Введите влажность">
        <input type="text" name="windSpeed" placeholder="Введите скорость ветра">
        <input type="text" name="directionWind" placeholder="Введите направление ветра">
        <button type="submit">Добавить</button>
    </form>
</div>

</body>
</html>